<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout.html}">
<head>

</head>
<body>
<section layout:fragment="content" class="main-content">

    <h1>회원정보</h1>
    <table class="table table-striped table-hover">
        <thead>
        <tr>
            <th>이름</th>
            <th>도시</th>
            <th>거리명</th>
            <th>우편번호</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="member : ${members}">
            <td><span th:text="${member.name}"></span></td>
            <td><span th:text="${member.city}"></span></td>
            <td><span th:text="${member.street}"></span></td>
            <td><span th:text="${member.zipcode}"></span></td>
        </tr>
        </tbody>
    </table>
</section>
</body>
</html>